*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #0084fd;
    color: white;
}

nav{
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 0 auto;
}

.flex{
    display:flex;
}

.logo{
    
  padding: 1.3rem 0 1.5rem;
}

ul{
    display: none;
}

button{
    border-radius: 3rem;
    border-style: none;
}

.header-button{
    background-color: white;
    color: black;
    font-size: 1.15rem;
    padding: .5rem 1rem;
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 810px){

    .fa-bars{
        display: none;
    }

    .nav{
        max-width: 60%;
    }

    ul{
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    li{
        margin-left: 2rem;
        font-size: 1.075rem;
    }
}


.info-wrapper{  
    padding: 30px 35px 80px;
    flex-direction: column;
    align-items: center;
}

.info{
    width: 100%;
    border-radius: 1.5rem;
    background-color: #b5ddff;
    color: #5a6e7f;
    padding: 30px 30px 0;
    flex-direction: column;
    margin-top: 1.4rem;
}

.big-info{
    flex-direction: column;
}

h1{
    color: #0084fd;
    font-size: 1.5rem;
}

p{  
    font-size: 0.9rem;
    padding: 25px 0 30px;
    line-height: 1.9rem;
}

.info p{
    
    font-weight: 700;
}

.big-info button{
    background-color: #0084fd;
    color: white;
    font-weight: 500;
    padding: 0.6rem 3rem;
    font-size: 1.1rem;
}

.big-info img{
    width: 250px;
    padding-top: 20px;
}

.small-info{
    justify-content: center;
    align-items: center;
}

.small-info i{
    color: #0084fd;;
}

.fa-2xl {  
    font-size: 5em;
    padding: 2.5rem 0rem 4rem;
  }

.small-info p{
    text-align: center;
}

@media screen and (min-width: 480px){
    
    .info{
        padding: 30px 25px 0;
    }

    .info-wrapper{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: normal;
    }

    .big-info{
        width: calc(((100% / 3) * 2) - 8px);
    }

    .small-info{
        width: calc((100% / 3) - 16px);
    }

    p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 810px){

    nav{
        padding: 0;
    }

    .container{
        width: 60%;
    }

    .info-wrapper{
        margin: 0 auto;
        padding: 30px 0 100px;
    }

    .big-info{
        flex-direction: row;
    }

    .big-info img{
        margin: 20px 50px 0;
    }
    
}

.planning-wrap{
    background-color: #9792e4;
}

.planning{
    background-color: #9792e4;
    flex-direction: column;
}

.strategic{
    color: white;
}

h2{
    font-size: 1.9rem;
    padding: 4.5rem 0 2.7rem;
}

.strategic p{
    font-size: 0.95rem;
    line-height: 1.7rem;
    padding: 0;
}

.strategic img{
    width: 100%;
    padding-top: 60px;
}

.app-developement img{
    width: 100%;
}

.strategic, .app-developement{
    margin: 0px 30px 32px;
}

.app-developement{
    background-color: white;
    color: black;
    border-radius: 55px;
    font-style: italic;
    text-align: center;
    padding: 30px 20px;
    margin-bottom: 60px;
}

.app-developement h1{
    color: black;
    font-style: normal;
    padding-top: 20px;
}

.app-developement p{
    font-size: .98rem;
}

.arrow{
    border-radius: 50%;
    background-color: #9792e4;
    color: black;
    padding: 1rem 1.1rem;
}

@media screen and (min-width: 480px){

    h2{
        font-size: 3.9rem;
    }

    .strategic img {
        padding: 120px 20px 80px;
      }

      .app-developement{
        margin-bottom: 60px;
      }

}

@media screen and (min-width: 810px){

    .planning-wrap{
        width: 100%;
    }

    .planning{
        width: 50%;
        flex-direction: row;
        background-color: #9792e4;
    }


    h2{
        font-size: 1.9rem;
        padding: 4.5rem 0 2.7rem;
    }

    .strategic{
        width: 55%;
        padding: 0;
    }

    .app-developement{
        width: 45%;
        margin: 300px 0 60px;
    }

    .strategic p{
        padding-right: 3rem;
    }
}

.testimonials-wrap{
    margin: 60px 30px 70px;
}

.testimonials{
    text-align: center;
}

.testimonials p{
    font-size: 1.25rem;
    line-height: 2.5rem;
    padding: 20px 10px;
}

.title{
    color: black;
}

h4{
    color: #9792e4;
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.testimonial-card{
    background-color: #9792e4;
    color: white;
    border-radius: 50px;
    flex-direction: column;
    padding: 25px 20px;
    margin: 30px 0;
    align-items: center;
}

.testimonials-text{
    flex-direction: column;
}

.testimonial-img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
}

h5{
    font-size: 1.3rem;
    font-weight: 600;
}

@media screen and (min-width: 480px){
    .testimonial-card{
        flex-direction: row;
    }

    .testimonials-text{
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

}

@media screen and (min-width: 810px){
    
    .testimonials-wrap .container{
        max-width: 70%;
    }

    h4{
        font-size: 2.7rem;
    }

    .testimonial-img{
        
    }
}

.benefits-wrapper{
    background-color: #9792e4;
    color: white;

}

.benefits{
    background-color: #9792e4;
    flex-direction: column;
    margin: 60px 30px 70px;
    text-align: center;
    padding: 20px 0 50px;
}

.benefits h4{
    color: white;
    padding: 60px 0;
}

.benefit-card{
    border-radius: 30px;
    background-color: white;
    color: #737373;
    text-align:left;
    margin: 15px 0;
    padding:35px;
}

.card-wrapper{
    flex-direction: column;
}

h6{
    font-size: 3rem;
    font-weight: 700;
    color: #9792e4;
    margin-bottom: 20px;
}

.benefits h1{
    color: #9792e4;
}

.benefits p{
    font-size: 1rem;
}

.benefit-card button{
    background-color: #9792e4;
    color: white;
    padding: 14px 55px;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width: 480px){

    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefit-card{
        width: calc( (100% / 2) - 20px);
    }
    
    h6{
        font-size: 4.5rem;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 810px){

    .benefit-card{
        width: calc( (100% / 3) - 20px);
    }
}

.about-us{
    flex-direction: column;
    margin: 60px 30px 70px;
}

.about-us h4{
    font-size: 2.6rem;
    padding-top: 20px;
}

.about-us p{
    font-size: 1.05rem;
    line-height: 2.5rem;
}

.about-us-guy{
    flex-direction: column;
    
}

.about-us-guy .testimonial-img{
    width: 180px;
    height: 180px;
}

.about-us-guy p{
    font-size: 1.60rem;
    color: #9792e4;
    font-weight: 700;
    line-height: 2.3rem;
}

.about-us-guy i{
    padding-right: 8px;
}

.about-us-guy button{
    background-color: #9792e4;
    color: white;
    padding: 8px 16px;
    font-size: .95rem;
}

@media screen and (min-width: 480px){

    .about-us-wrapper{
        width: 100%;
    }

    .about-us{
        flex-direction: row;
    }

    .about-us h4{
        font-size: 4rem;
    }

    .about-us-text{
        width: 65%;
        padding: 0 50px 0px 30px;
    }

    .about-us-guy .testimonial-img{
        width: 230px;
        height: 230px;
    }

    .about-us-guy{
        width: 35%;
        padding: 30px 5px 0 0;
    }

}

@media screen and (min-width: 810px){
    .about-us{
        margin: 0 auto ;
        padding-bottom: 120px;
    }
    .about-us-text{
        width: 75%;
        padding-right: 100px;
    }

    .about-us-text p{
        font-size: 1.2rem;
    }

    .about-us-guy{
        width: 25%;
    }

    .about-us-guy p{
        padding-right: 30px;
    }
}

.get-started{
    background-color: #9792e4;
    color: white;
    text-align: center;
    padding: 50px 40px;
}

#purple-title{
    color:#d5d4f4;
    font-size: 1.25rem;
}

.get-started h4{
    color: white;
    font-size: 1.7rem;
}

#free{
    color:#fdc15f;
    font-size: 3.5rem;
    font-weight: 700;
}

.get-started p{
    font-size: .9rem;
}

.get-started button{
    background-color: white;
    color: #9792e4;
    font-size: 1.15rem;
    font-weight: 600;
    padding: 20px 80px;
}

.get-started .copyright{
    font-size: .8rem;
}

span{
    text-decoration: underline;
}

@media screen and (min-width: 480px){


    #purple-title{
        padding: 0;
    }

    .get-started h4{
        font-size: 2.4rem;
        padding: 10px 0;
    }
    
    #free{
        font-size: 5.3rem;
        font-weight: 700;
    }
    
    .get-started p{
        font-size: 1rem;
        padding: 25px 85px 30px;
    }
    
    .get-started button{
        font-size: 1.15rem;
        font-weight: 500;
        padding: 30px 100px;
    }
    
    .get-started .copyright{
        font-size: .95rem;
    }

}

@media screen and (min-width: 810px){
    
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 810px){
    
}