*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #0084fd;
    color: white;
}

nav{
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 0 auto;
}

.flex{
    display:flex;
}

.logo{
    
  padding: 1rem 0 1.2rem;
}

ul{
    display: none;
}

button{
    border-radius: 3rem;
    border-style: none;
}

.header-button{
    background-color: white;
    color: black;
    font-size: 1.15rem;
    padding: .5rem 1rem;
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 810px){

    .fa-bars{
        display: none;
    }

    .container{
        max-width: 60%;
    }

    ul{
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    li{
        margin-left: 2rem;
        font-size: 1.075rem;
    }
}

.info-wrapper{  
    padding: 30px 20px 80px;
    flex-direction: column;
    align-items: center;
}

.info{
    width: 100%;
    border-radius: 1.5rem;
    background-color: #b5ddff;
    color: #5a6e7f;
    padding: 30px 30px 0;
    flex-direction: column;
    margin-top: 1.4rem;
}

.big-info{
    flex-direction: column;
}

h1{
    color: #0084fd;
    font-size: 1.4rem;
}

p{  
    font-size: 0.9rem;
    font-weight: 700;
    padding: 25px 0 30px;
    line-height: 1.9rem;
}

.big-info button{
    background-color: #0084fd;
    color: white;
    font-weight: 500;
    padding: 0.6rem 3rem;
    font-size: 1.1rem;
}

.big-info img{
    width: 250px;
    padding-top: 20px;
}

.small-info{
    justify-content: center;
    align-items: center;
}

.small-info i{
    width: 3rem;
    color: #0084fd;;
}

.fa-2xl {  
    font-size: 5em;
    padding: 2.5rem 5rem 4rem 0rem;
  }

.small-info p{
    text-align: center;
}

@media screen and (min-width: 480px){
    
    .info{
        padding: 30px 25px 0;
    }

    .info-wrapper{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .big-info{
        width: calc(((100% / 3) * 2) - 5px);
    }

    .small-info{
        width: calc((100% / 3) - 10px);
    }

    p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 810px){

    nav{
        padding: 0;
    }

    .contianer{
        width: 60%;
    }

    .info-wrapper{
        margin: 0 auto;
        padding: 30px 0;
    }

    .big-info{
        flex-direction: row;
    }

    .big-info img{
        margin: 0 50px;
    }
    
}